// Specific CSS for your home-page
.banner {
  background-image: image-url('banner.jpeg');
  background-size: cover;
  height: 1000px;
  background-color: black;
  h1 {
    color: #A50500;
    font-family: 'Schoolbell';
  }
}

.banner {
  h3 {
    color: #877872;
    font-family: 'Roboto'
  }
}
