// Specific CSS for your home-page
html {
  scroll-behavior: smooth;
  background-color: black;
}

.banner {
  background-image: image-url('banner.jpeg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  h1 {
    color: #A50500;
    font-family: 'Schoolbell';
  }
}

.banner {
  h4 {
    color: #877872;
    font-family: 'Roboto'
  }
}

.banner-cta {
  text-align: center;
}


