.property-header {
  background-color: #111;
  text-align: center;
  color: white;
  height: 200px;
  align-items: center;
  h1 {
    color: #A50500;
  }
  p {
    color: #877872;
    text-transform: capitalize;
  }
}

.property-body {
  margin-top: 2em;
}
