<div class="container-popup">

  <div class="container-picture">

  </div>

  <div class="container-details">
    <h3><%= property.name %></h3>
    <p>
      <%= property.address %>
      Price: <%= property.price %> €
      <br>
      Haunted level: <%= property.haunted_level %>
    </p>
  </div>
</div>




