<div class="container-fluid">

  <div class="grid">
    <div>
      <%= render 'shared/cards' %>
    </div>
    <div id="map"
      style="height: 50vh; position: sticky; margin-top: 15px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>



