<div class="banner">
  <div class="banner-cta">
    <h1>Airbnboo</h1>
    <h4>we make your nightmares come true</h4>
    <a href="#scroll" class="btn btn-primary creepy-btn">Get spooky</a>
  </div>
</div>

<!-- render the properties & search bar -->
<div id="scroll" class="container">
  <%= render 'shared/searchbar'  %>
  <h1 class="roboto" style="margin-left: 15px">Most haunted:</h1>
  <%= render 'shared/cards' %>
</div>
