<div class="banner">
  <div class="banner-cta">
    <h1>Airbnboo</h1>
    <h4>whe make your nightmares come true</h4>
    <a href="#scroll" class="btn btn-primary creepy-btn">Get spooky</a>
  </div>
</div>
<div id="scroll">
  <%= render 'shared/navbar' %>
  <%= render 'shared/cards' %>
  
</div>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    I ain't afraid of no <i class="fas fa-ghost"></i> <i class="fas fa-ghost"></i>.
  </div>
</div>

