<div class="banner">
  <div class="banner-cta">
    <h1>Airbnboo</h1>
    <h4>whe make your nightmares come true</h4>
    <a href="#" class="btn btn-primary creepy-btn">Get spooky</a>
  </div>
</div>
<%= render 'shared/cards' %>
