.card{
    width: 300px;
    height: 300px;
    margin: 15px;
    background: linear-gradient(#615854 , rgb(37, 37, 37));
    background-size: cover;
    object-fit: cover;
}


.card-body{
    display: inline-block;
}

.card-title{
    font-size: 2em;
    color: #FD1015;
}

.card-text{
    color: #b6b1af;
    
}
