.card{
  display: flex;
  min-height: 200px;
  margin: 15px;
  background: #444;
  align-items: center;
  box-shadow: 0px 0px 2px 1px #333;
  justify-content: center;
  border-radius: 6px;
  overflow: hidden;
}

.card-title{
  font-size: 2em;
  color: white;
}

.card-text{
  color: #b6b1af;
}

.card-image{
  height: 200px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

.card-grid {
  justify-items: stretch;
  position: sticky;
}
